.card:hover {
  box-shadow: 2px 2px ;
}

.red {
  color:red;
}

.green {
  color:green;
}

.answer1, .answer2, .answer3,
.answer4, .answer4, .answer5 {
  display: none;
}

.card {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}